{% extends 'myexpense/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="text-2xl text-center">Login</h2>


<div class="container py-5 w-200 " style="max-width: 400px">
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <!--        <div class="mb-2">-->
        <!--            <label for="username" class="form-label">Username</label>-->
        <!--            <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700 leading-tight">-->
        <!--                {{ form.username }}-->
        <!--            </div>-->

        <!--        </div>-->

        <!--        <div class="mb-2">-->
        <!--            <label for="password1" class="form-label">Password</label>-->
        <!--            <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700 leading-tight">-->
        <!--                {{ form.password }}-->
        <!--            </div>-->

        <!--        </div>-->


        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}
